@page { 
	size: auto;   /* auto is the initial value */ 

	/* this affects the margin in the printer settings */ 
	margin: 5mm 5mm 5mm 5mm; 
}

body { background:#fff; font-family:sans-serif; font-size:9pt; }

td { font-family:sans-serif; font-size:9pt; }

#container { width:95%; margin:0 auto; padding: 0; }

#left, .skip-share, .tabBox, .share-links-wrapper, .right, #footer { display: none!important;}

#right { float:none; width:98.3%; }
#right .top-right { background:none; }
#right .inner { margin:0; width:100%; }
#right .inner .logo { display:none; }
#right .inner .top { background:none; }
#right .inner .content { border:none; width:100%; }
#right .inner .content .three-quarters { background:none; }
#right .inner .content .three-quarters .left { width:100%; float:none; background:none; border:none; }
#right .inner .content .three-quarters .name { font-size: 30px; color: #E27A00; }
#right .inner .content .three-quarters .padding { padding:0; }
#right .inner .content .three-quarters .popup-tipbox { display: none;}
#right .inner .content .three-quarters .key ul { list-style: none; margin: 15px 0 0; padding: 0; width: 100%;}
#right .inner .content .three-quarters .key ul li { float: left; padding: 0; margin: 0 25px 0 0; }

#right .inner .content .three-quarters .left .account-cafe .tab-panels .menu .date { margin-top: 5px; }
#right .inner .content .three-quarters .menu .date { font-size: 30px; font-weight: bold; clear: both; padding-top: 10px;}


#right .inner .content table { border-collapse: collapse; margin-top: 20px; page-break-inside:auto; page-break-after:auto; }
#right .inner .content table tr { page-break-inside:avoid; page-break-before:auto; }
#right .inner .content table tr.always-show-me { border-bottom: 3px solid #000; font-style: italic; font-size: 20px;}
#right .inner .content table tr td { border: 1px solid #aaa; padding: 10px;}

#right .inner .content .three-quarters .left .account-cafe .tab-panels .menu td { padding:5px; }

#right .inner .content .three-quarters .left .account-cafe .name { font-size:12pt; }
#right .inner .content .three-quarters .left .account-cafe .tab-panels .menu .date a { font-size:10pt; }

#right .inner .content .three-quarters .left table tr td { font-size: 7pt;}
#right .inner .content .three-quarters .left table tr td.station { width: 15%;}

#right .inner .content .three-quarters .left .account-cafe .tab-panels .menu .key ul li { width:auto; }

#tipBox { /*display: none!important;*/ }

/*your-cafe-table-header-bg.jpg*/